<!DOCTYPE html>
<title>Bizz Wow | Single</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /> -->


<!-- //js -->
<!-- for-mobile-apps -->

<!-- //for-mobile-apps -->
<!-- start-smoth-scrolling -->


<!-- start-smoth-scrolling -->
</head>
	
<body>
	<div class="psd">
	<div class="container">
<!-- header -->
		<div class="header">
			<div class="logo">

			</div>
			<div class="logo-right">
				<span class="menu"><img src="images/menu.png" alt=" "/></span>
				<ul class="nav1">
					<li><a href="index.html" class="act">HOME<span>START HERE</span></a></li>
					<li><a href="index.html" class="act1">ABOUT US<span>KNOW US</span></a></li>
					<li><a href="index.html" class="act2">FEATURES<span>WE PROVIDE</span></a></li>
					<li class="cap"><a href="blog.html" class="act3">BLOG<span>READ NEWS</span></a></li>
					<li><a href="contact.html" class="act5">CONTACT US<span>GET IN TOUCH</span></a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
				<!-- script for menu -->
					<script> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
		</div>
<!-- //header -->
 <!-- single -->
	<div class="single">
		<div class="blog-left">
			<div class="blog-left-info">
				<h3>Duis ultricies pharetra donec accumsan malesuada orci.</h3>
				<img src="images/11.jpg" alt=" " />
				<ul>
					<li class="men"><a href="#" class="cmn1">SUPER USER</a></li>
					<li class="date">2015-04-20</li>
					<li class="com"><a href="#" class="cmn">3 COMMENTS</a></li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
				Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. 
				Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus 
				et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui.
				Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, 
				luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. 
				Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, 
				consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. 
				Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
				et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
			</div>
			<div class="blog-left-bottom">
				<h3>Related Posts</h3>
				<div class="blog-left-bottom-grids">
					<div class="blog-left-bottom-grid">
						<img src="images/cc.jpg" alt=" " title="Web Designer" />
						<h4><a href="#">Mauris fermentum dictum magna</a></h4>
						<p>Sed laoreet aliquam leo. 
							Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
							et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
					</div>
					<div class="blog-left-bottom-grid">
						<img src="images/ff.jpg" alt=" " title="Web Designer" />
						<h4><a href="#">Mauris fermentum dictum magna</a></h4>
						<p>Sed laoreet aliquam leo. 
							Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
							et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
					</div>
					<div class="blog-left-bottom-grid">
						<img src="images/cc.jpg" alt=" " title="Web Designer" />
						<h4><a href="#">Mauris fermentum dictum magna</a></h4>
						<p>Sed laoreet aliquam leo. 
							Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
							et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="author">
				<h3>WRITTEN BY <a href="#">ADMIN</a></h3>
				<div class="author-left">
					<span> </span>
				</div>
				<div class="author-right">
					<p> Morbi nunc odio, gravida at, cursus nec, 
						luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. 
						Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, 
						consectetuer adipiscing elit.<span>VIEW ALL POSTED BY :<a href="#">ADMIN</a></span></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		
		<div class="clearfix"> </div>
		<div class="three-com">
				<h3>3 Comments <label>Donec volutpat ligula non dapibus volutpat</label></h3>
				<div class="tom-grid">
					<div class="tom">
						<img src="images/co.png" alt=" " />
					</div>
					<div class="tom-right">
						<div class="Hardy">
							<h4>Tom Hardy</h4>
							<p><label>12 January 2014</label></p>
						</div>
						<p class="lorem">There are many variations of passages of Lorem Ipsum available,
						but the majority have suffered alteration in some form, by injected humour, 
						or randomised words which don't.</p>
						<div class="reply">
							<a href="#" class="hvr-bounce-to-left2">REPLY</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="tom-grid humour">
					<div class="tom">
						<img src="images/co.png" alt=" " />
					</div>
					<div class="tom-right">
						<div class="Hardy">
							<h4>Prad Pitt</h4>
							<p><label>12 January 2014</label></p>
						</div>
						<p class="lorem">There are many variations of passages of Lorem Ipsum available,
						but the majority have suffered alteration in some form, by injected humour, 
						or randomised words which don't.</p>
						<div class="reply">
							<a href="#" class="hvr-bounce-to-left2">REPLY</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="tom-grid humour1">
					<div class="tom">
						<img src="images/co.png" alt=" " />
					</div>
					<div class="tom-right">
						<div class="Hardy">
							<h4>Tom Cruis</h4>
							<p><label>12 January 2014</label></p>
						</div>
						<p class="lorem">There are many variations of passages of Lorem Ipsum available,
						but the majority have suffered alteration in some form, by injected humour, 
						or randomised words which don't.</p>
						<div class="reply">
							<a href="#" class="hvr-bounce-to-left2">REPLY</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="leave-comment">
				<h3>Leave your comment</h3>
				<p>Suspendisse tempor tellus sed nisl semper, quis condimentum turpis pharetra.</p>
				<form>
					<input type="text" placeholder="Name" required=" ">			           					   
					<input type="text" placeholder="Email" required=" ">
					<input type="text" placeholder="Your Website" required=" ">
					<textarea placeholder="Message" required=" "></textarea>
					<input type="submit" value="SEND">
					<div class="clearfix"> </div>
				</form>
			</div>
	</div>
<!-- single -->
<!-- footer -->
<!-- //footer -->
	</div>
	</div>
<!-- here stars scrolling icon -->
	
<!-- //here ends scrolling icon -->

