
 
<div class="formArticle"> 
  <p>
    <label for="article_title">Заголовок</label><br>
    <input type="text" name="title" id="article_title" />
  </p>
 
  <p>
    <label for="article_text">Статья</label><br>
    <textarea name="text" id="article_text">
</textarea>
  </p>
 


</div>
 

