<button class="save-article">Сохранить</button> 
<button class="cancel-article"><%= link_to 'Отмена', articles_path %></button>
 <%= link_to 'New category', new_category_path %>
<div class="d_new_article">
  <h1>Новая статья</h1>
  <form id="new_article" accept-charset="UTF-8">
    <%= render 'form' %>

  </form>
    <div>
      

    </div>
</div>


