  <%= render 'layouts/menu' %>
  <h1>Новая статья</h1>

      <form id="new_article" accept-charset="UTF-8">
        <%= render 'form' %>
      </form>


    <button class="save-article btn-primary" >Сохранить</button>


