
<button class="save-category">Сохранить</button> 

<div class="d_new_category">
  <h1>Новая категория</h1>
  <form id="new_category" accept-charset="UTF-8">
    <%= render 'form' %>

  </form>

</div>


