  <%= render 'layouts/menu' %>
 <h1>Новая категория</h1>
	<div class="single">
      <form id="new_category" accept-charset="UTF-8">
        <%= render 'form' %>
      </form>
  <button class="save-category btn-primary">Сохранить</button> 
  </div>


